Flask
Flask-SQLAlchemy
Werkzeug
Flask-Login
flask-wtf
python-dotenv
SQLAlchemy
itsdangerous
WTForms
blinker
email_validator
bleach
cryptography
flask-talisman
Jinja2>=3.1.2
click>=8.1.3
importlib-metadata>=3.6.0
